@import "../node_modules/nes.css/css/nes-core.min.css";
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  overflow-y: scroll;
  font-family: "Press Start 2P", cursive;
}

.grid {
  margin: 0.5rem;
  display: grid;
  grid-template: auto / 1fr 0.5fr 0.5fr;
  grid-gap: 1rem;
}

canvas {
  border: 2px solid black;
  background: radial-gradient(
    circle,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

select {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  padding: 0.5rem;

  & option {
    margin-bottom: 2px;
    &:hover {
      background-color: rgba(242, 121, 53, 1);
    }

    &.placeholder {
      border-radius: 60px;
      background: linear-gradient(133deg, lightgrey, #ffffff, lightgrey);
      background-size: 400% 400%;
      animation: shine .5s ease-in infinite;
    }
  }
}
@keyframes shine { 
    0%{background-position:0% 34%}
    50%{background-position:100% 67%}
    100%{background-position:0% 34%}
}

button {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 2rem;
  padding: 0 1rem 0 1rem;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  transition: 0.2s background-color;
  text-transform: uppercase;
  outline: none;
  user-select: none;

  &:hover {
    background-color: rgba(242, 121, 53, 1);
  }
}
